@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --my-main-color: #75bf7a;
}

body {
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  height: 140px;

  display: flex;
  justify-content: space-between;
}

.links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 46px;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17.16px;
  color: black;
}

.links button {
  border-radius: 5.95px;
  background-color: var(--my-main-color);
  color: white;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-weight: 600;
  font-size: 22px;
}

.logo-img {
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  height: 70vh;
}
.section-one {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.section-two {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section-one h2 {
  font-weight: 800;
  font-size: 60.73px;
}
.section-one p {
  font-weight: 500;
  font-size: 24px;
  color: #9e9da2;
}

.my-button {
  font-size: 24px;
  font-weight: 800;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: space-evenly;
}

.apply-section {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--my-main-color);
  height: 166px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apply-section{  display: flex;
  justify-content:space-around ;}
.apply-section > p {
  color: white;
  font-weight: 600;
  font-size: 24.6px;
}

.apply-section > input {
  height: 45px;
  width: 500px;
  font-size: 20px;
  border: none;
  border-radius: 4.39px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  font-weight: 600;
}

.apply-section > input::placeholder {
  color: #dadada;
}
.main-div{ display: flex;
  gap: 12px;
}
.circle {
  width: 400px;
  height: 400px;
  border-radius: 999px;
  background-color: var(--my-main-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section {
  /* parent / container */
  height: 90vh;

  display: flex;
}

.mobile-section-one {
  /* width: 33%; */
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}

.mobile-section-two {
  /* width: 33%; */
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section-three {
  /* width: 33%; */
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle > img {
  width: 278.9px;
}

.option {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option > img {
  width: 60px;
}
.option > p {
  font-weight: 500;
  font-size: 20px;
  color: var(--light-text-color);
}
.option > h3 {
  font-weight: 800;
  font-size: 22px;
}

.option-right {
  align-items: end;
  text-align: right;
}

.all-benefits {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.benefit {
  /* border: 2px solid red; */
  height: 304px;
  width: 80%;
  background-color: rgb(224, 248, 214);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefit-right {
  align-self: flex-end;
}

.benefit  h4 {
  font-size: 33.94px;
  font-weight: 600;
}

.benefit  span {
  font-size: 88px;
  font-weight: 500;
  color: var(--theme-color);
}

.benefit  p {
  color: var(--light-text-color);
font-size: 22px;
/* font-weight: ; */
}
.benefit img {
  width: 256.79px;
}

.benefit div {
  /* border: 2px solid red; */
  width: 380px;
}